* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, Verdana,
    Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

div.header {
  display: flex;
  justify-content: flex-end;
  background-color: #1f2937;
  padding: 0 8px;
}

.logo {
  width: 225px;
  height: auto;
  margin-right: auto;
  margin-left: 108px;
}

.links {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 24px;
  padding: 16px;
  margin-right: 116px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.header {
  font-size: 18px;
  font-weight: 900;
}

.hero {
  width: 100vw;
  height: 400px;
  background-color: #1f2937;
  padding: 40px;
  display: flex;
  gap: 24px;
}

.footer {
  width: 100vw;
  height: 50px;
  background-color: #1f2937;
  padding: 20px;
  font-size: 18px;
  color: #f9faf8;
  text-align: center;
  vertical-align: middle;
}

.heroleft {
  width: 50vw;
  color: #e5e7eb;
  text-align: left;
}

.heroheading {
  margin: 20px 0 16px 86px;
  font-size: 48px;
}

.herotext {
  margin: 16px 20px 20px 88px;
  font-size: 18px;
  line-height: 1.3rem;
}

.heroright {
  width: 50vw;
  height: auto;
}

.odin-picture {
  width: 40vw;
  height: auto;
  border-radius: 16px;
  box-shadow: 4px 2px 2px #233142;
}

.button {
  background-color: #3882f6;
  font-size: 18px;
  margin-left: 86px;
  margin-top: 8px;
  padding: 8px;
  color: #e5e7eb;
  border-radius: 20px;
}

.h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin-top: 32px;
}

.hero2main {
  display: flex;
  flex-flow: row nowrap;
  max-width: 80vw;
  gap: 112px;
  margin: 40px auto 24px auto;
  padding-bottom: 48px;
  justify-content: center;
}

.box1,
.box2,
.box3,
.box4 {
  align-self: center;
  border: 4px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4 {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 220px;
}

.img1 {
  padding-right: 28px;
}

.img2 {
  padding-right: 172px;
}

.img3 {
  padding-right: 176px;
}

.img4 {
  padding-right: 20px;
}

.hero3main {
  width: 100vw;
  height: 300px;
  background-color: #e5e7eb;
}

.quote {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.quote1 {
  padding-top: 120px;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.by {
  font-weight: 600;
  text-align: end;
  margin-top: 32px;
  width: 66vw;
  font-size: 28px;
}

.hero4main {
  width: 80vw;
  height: 120px;
  background-color: #3882f6;
  margin: 48px auto 48px auto;
  border-radius: 16px;
}

.wrapper5 {
  width: 75vw;
  height: 120px;
  padding: 36px;
  margin: 24px auto 12px auto;
  font-size: 20px;
  color: #f9faf8;
  display: flex;
}

.ctap {
  font-size: 16px;
}

.ctabtn {
  margin-left: auto;
  border: 1px solid whitesmoke;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 20px;
  padding: 12px;
  border-radius: 8px;
}
